* {
  margin: 0;
  padding: 0;
}

.form-inner {
  margin: auto;
  width: 60%;

  padding: 10px;
}

.form-container {
  margin: auto;
  width: 60%;

  padding: 10px;
}

.logoutBtn {
  margin-top: 3em;
  margin-left: auto;
  display: block;
  margin-right: 1em;
}

